{% extends 'base.html' %}
{% load static %}
{% block title %} | Register {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <form action="{% url 'register' %}"">
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}