.DS_Store
venv
env
.sqlite3
__pycache__
.pyc
celerybeat.pid
celerybeat-schedule.dat
celerybeat-schedule.db
celerybeat-schedule.dir
**.py[cod]
.pytest_cac
*.whl
.vscode/
migrations/
*.pkl
htmlcov
.coverage
db.sqlite3
.dat
.dir
.pytest_cache